<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>

    <% include partials/navbar %>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <div class="page-header">
          <h1>
            <small>About</small>
          </h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">SF Movie Map</div>
          <div class="panel-body">
            <p>A simple web application built on Node.js, MongoDB, and Google Maps JavaScript API that displays San Francisco film locations on a map. The map updates film location markers as the map moves (an option that can be disabled by a checkbox), and a search box presents auto-completed results based on movie title. Choosing a search result will limit film locations to just that movie, as well as display more detailed metadata about the movie in a pane below the map. Clicking on any location will also populate the show detail pane.</p>
            <p><a href="https://github.com/thomasquinto/sfmovies">GitHub Page</a></p>
            <p><a href="https://www.linkedin.com/pub/thomas-quinto/0/b/4a1">My Linked In</a></p>
          </div>
        </div>
      
        <hr>
        
        <% include partials/footer %>
      </div>
      <!-- /container -->
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#about').addClass("active");
      });
    </script>

    <% include partials/js_include %>

  </body>
</html>
