<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>

  <body>
    <% include partials/navbar %>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <!-- Anchor the map to this div -->
        <div id="map"></div>

      </div>
    </div>
    
    <div class="container">
      <% include partials/content %>
      <hr>
      
      <% include partials/footer %>
    </div>
    <!-- /container -->

    <script type="text/javascript">
      $(document).ready(function() {
        // Bootstrap activation:
        $("#home").addClass("active");
      });

      function initialize() {

        var mapController = MapController();
        var latLong = mapController.getSFLatitudeLongitude();
        var mapOptions = {
          zoom: mapController.getDefaultZoom(),
          center: new google.maps.LatLng(latLong[0], latLong[1])
        };
        var map = new google.maps.Map($("#map")[0], mapOptions);

        mapController.initMap(map);
      }
    </script>

    <% include partials/js_include %>

    <!-- Map Controller (our code for map handling) -->
    <script src="/javascripts/map_controller.js"></script>
    <!-- Google Maps API (asynchronous initialization) -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initialize&key=AIzaSyDATd6iwCHxJUErroouJEelUB5VJ1LYjdE"></script>

  </body>
</html>
