<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>

  <body>
    <% include partials/navbar %>
    
    <div class="container">

      <!-- Autocomplete search box -->
      <div>
        <label>Search:
          <input id="search" placeholder="Enter a movie title" />
        </label>
       
        <label class="redo">
          <input type="checkbox" checked="true" />
          Update results as map is moved
        </label>
      </div>
      

      <!-- Anchor the map to this div -->
      <div id="map"></div>      
    </div>

    <div class="container">
      
      <div id="show" class2="col-md-4">
         <p>Click on any of the marked locations above to see movie details.</p>
      </div>

      <hr>
      
      <% include partials/footer %>
    </div>
    <!-- /container -->

    <script type="text/javascript">
      
      $(document).ready(function() {
        // Bootstrap activation:
        $("#home").addClass("active");

        // Google Maps activation:
        loadGoogleMaps();
      });

      function loadGoogleMaps() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://maps.googleapis.com/maps/api/js?v=3.exp" +
          "&signed_in=true&callback=initialize&&key=AIzaSyDATd6iwCHxJUErroouJEelUB5VJ1LYjdE";
        document.body.appendChild(script);
      }
      
      function initialize() {
        MapController().init();      
        SearchController().init();
      }
    </script>

    <% include partials/js_include %>

    <!-- Search Controller (for auto-complete results on movie title) -->
    <script src="/javascripts/search_controller.js"></script>

    <!-- Map Controller (our code for map handling) -->
    <script src="/javascripts/map_controller.js"></script>

  </body>
</html>
